# Imports

In [1]:
import numpy as pd 
import pandas as pd

# Acquire

In [2]:
#Bring in csv using pandas
df= pd.read_csv('samsung_health.csv')

In [3]:
# Looking at data types and amount of null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5777 entries, 0 to 5776
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   heart_rate   5777 non-null   int64
 1   max          5777 non-null   int64
 2   start_time   5777 non-null   object
 3   end_time     5777 non-null   object
 4   create_time  5777 non-null   object
 5   update_time  5777 non-null   object
 6   min          5777 non-null   int64
dtypes: int64(3), object(4)
memory usage: 316.1+ KB

In [7]:
df.isnull().sum() # verify number null values in each column

heart_rate     0
max            0
start_time     0
end_time       0
create_time    0
update_time    0
min            0
dtype: int64

In [5]:
#Looking at shape ( # of rows and columns)
df.shape

(5777, 7)

In [8]:
#Looking at first 10 values
df.head(10)

,heart_rate,max,start_time,end_time,create_time,update_time,min
0,74,74,"06/14/2021, 3:30:59 PM","06/14/2021, 3:30:59 PM","06/14/2021, 3:30:59 PM","06/14/2021, 3:30:59 PM",74
1,62,79,"06/14/2021, 4:10:59 PM","06/14/2021, 4:10:59 PM","06/14/2021, 4:10:59 PM","06/14/2021, 4:10:59 PM",62
2,68,79,"06/14/2021, 4:50:59 PM","06/14/2021, 4:50:59 PM","06/14/2021, 4:50:59 PM","06/14/2021, 4:50:59 PM",62
3,75,79,"06/14/2021, 5:10:59 PM","06/14/2021, 5:10:59 PM","06/14/2021, 5:10:59 PM","06/14/2021, 5:10:59 PM",62
4,69,79,"06/14/2021, 5:00:59 PM","06/14/2021, 5:00:59 PM","06/14/2021, 5:00:59 PM","06/14/2021, 5:00:59 PM",62
5,69,108,"06/14/2021, 6:10:59 PM","06/14/2021, 6:10:59 PM","06/14/2021, 6:10:59 PM","06/14/2021, 6:10:59 PM",62
6,68,79,"06/14/2021, 4:20:59 PM","06/14/2021, 4:20:59 PM","06/14/2021, 4:20:59 PM","06/14/2021, 4:20:59 PM",62
7,69,108,"06/14/2021, 5:50:59 PM","06/14/2021, 5:50:59 PM","06/14/2021, 5:50:59 PM","06/14/2021, 5:50:59 PM",62
8,79,79,"06/14/2021, 3:50:59 PM","06/14/2021, 3:50:59 PM","06/14/2021, 3:50:59 PM","06/14/2021, 3:50:59 PM",74
9,65,79,"06/14/2021, 4:00:59 PM","06/14/2021, 4:00:59 PM","06/14/2021, 4:00:59 PM","06/14/2021, 4:00:59 PM",65

# Takeways:
- No null values present
- will need to change datatypes of start_time, end_time, create_time, and update_time? (regex)
- Decided to use heart rate as target

# Prepare

In [9]:
# Change start time to datetime format
df.start_time= pd.to_datetime(df.start_time)

In [10]:
# Verify datatype was changed for start time
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5777 entries, 0 to 5776
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   heart_rate   5777 non-null   int64
 1   max          5777 non-null   int64
 2   start_time   5777 non-null   datetime64[ns]
 3   end_time     5777 non-null   object
 4   create_time  5777 non-null   object
 5   update_time  5777 non-null   object
 6   min          5777 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 316.1+ KB

In [11]:
#Look at first 10 values
df.head(10)

,heart_rate,max,start_time,end_time,create_time,update_time,min
0,74,74,2021-06-14 15:30:59,"06/14/2021, 3:30:59 PM","06/14/2021, 3:30:59 PM","06/14/2021, 3:30:59 PM",74
1,62,79,2021-06-14 16:10:59,"06/14/2021, 4:10:59 PM","06/14/2021, 4:10:59 PM","06/14/2021, 4:10:59 PM",62
2,68,79,2021-06-14 16:50:59,"06/14/2021, 4:50:59 PM","06/14/2021, 4:50:59 PM","06/14/2021, 4:50:59 PM",62
3,75,79,2021-06-14 17:10:59,"06/14/2021, 5:10:59 PM","06/14/2021, 5:10:59 PM","06/14/2021, 5:10:59 PM",62
4,69,79,2021-06-14 17:00:59,"06/14/2021, 5:00:59 PM","06/14/2021, 5:00:59 PM","06/14/2021, 5:00:59 PM",62
5,69,108,2021-06-14 18:10:59,"06/14/2021, 6:10:59 PM","06/14/2021, 6:10:59 PM","06/14/2021, 6:10:59 PM",62
6,68,79,2021-06-14 16:20:59,"06/14/2021, 4:20:59 PM","06/14/2021, 4:20:59 PM","06/14/2021, 4:20:59 PM",62
7,69,108,2021-06-14 17:50:59,"06/14/2021, 5:50:59 PM","06/14/2021, 5:50:59 PM","06/14/2021, 5:50:59 PM",62
8,79,79,2021-06-14 15:50:59,"06/14/2021, 3:50:59 PM","06/14/2021, 3:50:59 PM","06/14/2021, 3:50:59 PM",74
9,65,79,2021-06-14 16:00:59,"06/14/2021, 4:00:59 PM","06/14/2021, 4:00:59 PM","06/14/2021, 4:00:59 PM",65

In [14]:
#Create new columns using .dt accessor 
df['month'] = df.start_time.dt.month
df['day'] = df.start_time.dt.month
df['weekday'] = df.start_time.dt.day_name()
df.head(10)

,heart_rate,max,start_time,end_time,create_time,update_time,min,month,day,weekday
0,74,74,2021-06-14 15:30:59,"06/14/2021, 3:30:59 PM","06/14/2021, 3:30:59 PM","06/14/2021, 3:30:59 PM",74,6,6,Monday
1,62,79,2021-06-14 16:10:59,"06/14/2021, 4:10:59 PM","06/14/2021, 4:10:59 PM","06/14/2021, 4:10:59 PM",62,6,6,Monday
2,68,79,2021-06-14 16:50:59,"06/14/2021, 4:50:59 PM","06/14/2021, 4:50:59 PM","06/14/2021, 4:50:59 PM",62,6,6,Monday
3,75,79,2021-06-14 17:10:59,"06/14/2021, 5:10:59 PM","06/14/2021, 5:10:59 PM","06/14/2021, 5:10:59 PM",62,6,6,Monday
4,69,79,2021-06-14 17:00:59,"06/14/2021, 5:00:59 PM","06/14/2021, 5:00:59 PM","06/14/2021, 5:00:59 PM",62,6,6,Monday
5,69,108,2021-06-14 18:10:59,"06/14/2021, 6:10:59 PM","06/14/2021, 6:10:59 PM","06/14/2021, 6:10:59 PM",62,6,6,Monday
6,68,79,2021-06-14 16:20:59,"06/14/2021, 4:20:59 PM","06/14/2021, 4:20:59 PM","06/14/2021, 4:20:59 PM",62,6,6,Monday
7,69,108,2021-06-14 17:50:59,"06/14/2021, 5:50:59 PM","06/14/2021, 5:50:59 PM","06/14/2021, 5:50:59 PM",62,6,6,Monday
8,79,79,2021-06-14 15:50:59,"06/14/2021, 3:50:59 PM","06/14/2021, 3:50:59 PM","06/14/2021, 3:50:59 PM",74,6,6,Monday
9,65,79,2021-06-14 16:00:59,"06/14/2021, 4:00:59 PM","06/14/2021, 4:00:59 PM","06/14/2021, 4:00:59 PM",65,6,6,Monday

# Takeways: 
- will need to split data before exploring 
- due this being time series will need to split into train, validate, test, X_train, y_train, etc. in prepare
- will need to create new features to have more predictive power, what features to create?- monthly, daily (hourly?)?
- data is from July 2021- August 2021